/home/henok/Desktop/S6/Courses/CSD[[:space:]]334[[:space:]]-[[:space:]]Mini[[:space:]]Project/Counterfeit-Currency-Detector/cnn/classifier/modelback/variables filter=lfs diff=lfs merge=lfs -text
/home/henok/Desktop/S6/Courses/CSD[[:space:]]334[[:space:]]-[[:space:]]Mini[[:space:]]Project/Counterfeit-Currency-Detector/cnn/classifier/modelfront/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
/home/henok/Desktop/S6/Courses/CSD[[:space:]]334[[:space:]]-[[:space:]]Mini[[:space:]]Project/Counterfeit-Currency-Detector/cnn/classifier/modelback/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/home/henok/Desktop/S6/Courses/CSD[[:space:]]334[[:space:]]-[[:space:]]Mini[[:space:]]Project/Counterfeit-Currency-Detector/cnn/classifier/modelback/variables/variables.data-00000-of-00001
cnn/classifier/modelfront/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
cnn/classifier/modelback/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
